:root {
  --color-principal: #76503c;
  --color-acento: #9d646b;
  --color-fondo: #fffaf7;
  --color-detalles: #fad6bf;
  --fuente-principal: "Montserrat", sans-serif;
  --fuente-secundaria: "Pinyon Script", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-fondo);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background: white;
  border-radius: 4px;
  padding: 2rem 1.2rem 0rem 1.2rem;
  max-width: 600px;
  width: 100%;
  position: relative;
  text-align: center;
}

.card-container::before,
.card-container::after {
  content: "";
  position: absolute;
  border: 2px solid var(--color-detalles);
  pointer-events: none;
}

/* Línea superior izquierda (horizontal) */
.card-container::before {
  top: 0;
  left: 0;
  width: 50%;
  height: 0;
  border-right: none;
  border-bottom: none;
}

/* Línea lateral izquierda (vertical) */
.card-container::after {
  top: 0;
  left: 0;
  height: 50%;
  width: 0;
  border-top: none;
  border-right: none;
}

.right-line {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 0;
  border-left: 2px solid var(--color-detalles);
}

.flower-decoration {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  width: 250px;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

.flower-decoration img {
  width: 100%;
  height: auto;
  display: block;
}

.intro-text {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-family: var(--fuente-principal);
  color: var(--color-principal);
  margin-bottom: 0.5rem;
}

.main-title {
  font-family: var(--fuente-secundaria);
  font-size: 3.5rem;
  font-weight: lighter;
  color: var(--color-acento);
  margin-bottom: 1rem;
}

.cta-button {
  cursor: pointer;
  z-index: 3;
  background-color: var(--color-detalles);
  color: var(--color-acento);
  font-family: var(--fuente-principal);
  font-weight: bolder;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  border: 0.1px solid var(--color-acento);
  font-size: 0.6rem;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: subtle-vibrate-loop 3s infinite ease-in-out;
}

.cta-button:hover {
  z-index: 3;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@keyframes subtle-vibrate-loop {
  0%,
  70% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.name {
  font-family: var(--fuente-secundaria);
  font-size: 3.5rem;
  font-weight: lighter;
  color: var(--color-acento);
}

.centered-photo {
  margin: 0.2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-photo img {
  max-width: 60%;
  height: auto;
}

.photo-container {
  margin-top: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-photo {
  width: 80%; /* Ajusta según el tamaño deseado */
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .card-container {
    max-width: 800px;
    padding: 3rem 3rem 1rem 3rem;
  }

  .main-title {
    font-size: 5rem;
    margin-bottom: 1.2rem;
  }

  .name {
    font-size: 4rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    margin-bottom: 2rem;
  }

  .centered-photo img {
    max-width: 40%;
  }

  .main-photo {
    width: 60%;
  }

  .flower-decoration {
    width: 400px;
    top: -2rem;
    right: -2rem;
  }

  .intro-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
